<div class="container-fluid", text-align: center>
  
<p id="notice"><%= notice %></p>

<h1><%=@student.name %> Subjects</h1>



  <table class="table table-hover table-bordered">
    <thead>
      <tr>
      <th>Subject name</th>
      <th>First grading</th>
      <th>Second grading</th>
      <th>Third grading</th>
      <th>Fourth grading</th>
      <th>Final grade</th>
      
      
      </tr>
    </thead>
    <tbody>
     <% subject.each do |subject| %>
      <tr>
        <td><%= subject.subject_name %></td>
        <td><%= subject.first_grading %></td>
        <td><%= subject.second_grading %></td>
        <td><%= subject.third_grading %></td>
        <td><%= subject.fourth_grading %></td>
        <td><%= subject.Final_grade %></td>
        
        
      </tr>
          <% end %>
    </tbody>
  </table>
</div>
