<div class ="container-fluid">
<p id="notice"><%= notice %></p>
<link rel="stylesheet" type="text/css" href="index.css">
<h1>CSOHS Pre-School Student</h1>

<table class="table table-striped">
  <thead>
    <tr>
     <th>Picture</th>
      <th>Name</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
      <td><%= image_tag(student.picture_url, :class => "img-circular") %></td>
        <td><%= student.name %></td>
        <td><%= student.level %></td>
        <td><%= link_to 'Show', student %></td>
        
 <br>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

</div>

