<div class="container">
    <br>
    <hr>

    <div class="row" id="container_students">
        <%= render @students %>
    </div>



   <!-- Modal  create action -->
      <%= form_for(@student, remote: true) do |f| %>
        <div class="modal fade" id="mynewstudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Student</h4>
            </div>
            
            <div class="modal-body">
              <div class="field">
                <%= f.label :name %><br>
                <%= f.text_field :name, class: "form-control student_name" %>
              </div>
              <div class="field">
                <%= f.label :gender %><br>
                <%= f.text_field :gender, class: "form-control student_gender" %>
              </div>
        
              <div class="field">
                <%= f.label :birthday %><br>
                <%= f.date_select :birthday, class: "form-control student_birthday" %>
              </div>
            
              <div class="field">
                <%= f.label :age %><br>
                <%= f.text_field :age, class: "form-control student_age" %>
              </div>
            
              <div class="field">
                <%= f.label :address %><br>
                <%= f.text_field :address, class: "form-control student_address" %>
              </div>
            
              <div class="field">
                <%= f.label :level %><br>
                <%= f.text_field :level, class: "form-control student_level" %>
              </div>
            
              <div class="field">
                <%= f.label :picture %><br>
                <%= f.file_field :picture, class: "form-control student_picture" %>
              </div>
            
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewstudentclose">Close</button>
              <%= submit_tag "Create", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
        </div>
      <% end %>
    <!-- Modal -->



</div>

   