<div class= "container-fluid">
<div class="row">
<p id="notice"><%= notice %></p>


<div class="col-sm-3" style="background-color:lavender;">
<p>
<%= image_tag @student.picture%><br>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @student.birthday %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Level:</strong>
  <%= @student.level %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
<% render :partial => "new_subject", :locals=>{:subject=>Subject.new(:student_id=>@student.id)} %>
</div>



<div class="col-sm-9" style="background-color:white;">
<%= render :partial => "subject_list", :locals=>{:subject=>@student.subjects }%>
</div>


</div>
</div>