<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Subject</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
=======
  <title>MyPortal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
>>>>>>> dd8450d11352c33a1f2b655fa93589225ed873ce
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
